<div class="container" >
  <h3>ALLAN TODO LIST </h3>
  <div class="table-responsive">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
      <div class="directive" filter-control
           todoItemsFilter="todoItemsFilter"

        ></div>

      </div>

  <table class="table">
    <tr>
      <th style="cursor:pointer" ng-click="sortBy='name';reverse=!reverse">Name</th>
      <th>Descriptions</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
    <tr class="slide-animation"  ng-repeat="todoItem in todoItems | filter:todoItemsFilter |orderBy:sortBy:reverse">
      <td>{{todoItem.name }}</td>
      <td>{{todoItem.description }}</td>
      <td><div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{todoItem.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{todoItem.status }}%"><span class="sr-only">{{todoItem.status }} Complete</span></div>
      </div></td>
      <td><a ng-href="#/todoDetails/{{todoItem.name }}/{{todoItem.status }}">View Details</a></td>
      <td style="cursor:pointer"class='deleterow'><div class='glyphicon glyphicon-check'>Done</div></td>
    </tr>
  </table>
      </div>
  </div>

  <h5>The Total number of items; {{completedItems }} </h5>

</div>

